In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df=df.fillna("ffill")

In [5]:
df=df.sample(frac=1)
from sklearn.preprocessing import Normalizer

In [8]:
import tensorflow as tf
import keras
col=df.columns
train=df[col[1:]]
labels=df[col[0]]
normalizer = Normalizer().fit(train)
train=normalizer.transform(train)
train=np.array(train)
train=np.reshape(train,(len(train),len(train[0]),1))
labels=np.array(labels)

Using TensorFlow backend.

In [9]:
model = keras.models.Sequential([
  keras.layers.Flatten(),
  keras.layers.Dense(512, activation=tf.nn.relu),
  keras.layers.Dropout(0.2),
  keras.layers.Dense(10, activation=tf.nn.softmax)
])

In [10]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [11]:
model.fit(train,labels, epochs=5)

Epoch 1/5
42000/42000 [==============================] - 25s 594us/step - loss: 0.3971 - acc: 0.8933
Epoch 2/5
42000/42000 [==============================] - 27s 631us/step - loss: 0.1845 - acc: 0.9457
Epoch 3/5
42000/42000 [==============================] - 24s 578us/step - loss: 0.1309 - acc: 0.9620
Epoch 4/5
42000/42000 [==============================] - 26s 613us/step - loss: 0.1007 - acc: 0.9698
Epoch 5/5
42000/42000 [==============================] - 30s 715us/step - loss: 0.0800 - acc: 0.9761

In [12]:
df1=pd.read_csv("test.csv")

In [13]:
df1.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
col=df1.columns
test=df1[col]
normalizer = Normalizer().fit(test)
test=normalizer.transform(test)
test=np.array(test)
test=np.reshape(test,(len(test),len(test[0]),1))

In [15]:
predictions = model.predict(test)

In [16]:
predictions[0]

array([  1.88847498e-05,   5.51034152e-09,   9.99683857e-01,
         2.44741474e-04,   3.16333171e-06,   2.67436974e-07,
         1.56386602e-06,   3.60742779e-05,   1.03745206e-05,
         1.02907461e-06], dtype=float32)

In [17]:
pre=np.argmax(predictions,axis=1)

In [18]:
pre

array([2, 0, 9, ..., 3, 9, 2])

In [19]:
df2=pd.read_csv("sample_submission.csv")

In [20]:
df2.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [21]:
df2.Label=pre

In [23]:
df2.to_csv("out.csv",index=False)